<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
     <!-- AOS CSS library -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- Bootstrap css cdn -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 
  <!-- Bootstrap icon cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
  
  <!-- map cdn  -->
  <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
 <!-- Stylesheet link -->
  <link rel="stylesheet" href="styles.css">
  <title>Haber Financial | Home</title>
</head>
<body>

           <!--                    PRELOADER                    -->
        <div class="container-fluid position-fixed bg-white h-80 w-100 preloader ">
            <div class="spinner-grow spinner" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
        </div>
           




   <!-- NAVBAR -->
  <nav class=" container-fluid navbar bg-dark text-white position-fixed z-3">
      <div class="d-lg-flex container" id="navbar">
          <h5 class=" mx-3 py-1 px-2"><i class="bi bi-bank"></i>Haber</h5>
          <ul class="menu flex mobile-hide">
              <li><a href="index.html" style="color: rgb(250, 85, 29);">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="project.html">Project</a></li>
              <li><a href="business.html">Business</a></li>
              <li><a href="financial.html">Financial</a></li>
          </ul>
          <div class="socials mobile-hide">
             <a href="#"><i class="bi bi-facebook"></i></a>
             <a href="#"><i class="bi bi-twitter"></i></a>
             <a href="#"><i class="bi bi-github"></i></a>
             <a href="#"><i class="bi bi-instagram"></i></a>
          </div>
          <div class="mobile-menu">
            <i class="bi bi-list mx-4  px-3 h1 menu-open"></i>
            <!-- <i class="bi bi-x-square"></i> -->
          </div>
      </div>
  </nav>

    <!-- MOBILE MENU TOGGLE -->
   
      <div class="menu-toggle">
             <i class="bi bi-x-square text-danger h2 px-3 menu-close" style="position: absolute; top: 42px; right: 10%;"></i>
            <ul class="menu-toggle-ul">
                     <li><a  href="index.html" style="color: rgb(250, 85, 29);">Home</a></li>
                     <li><a href="about.html">About</a></li>
                     <li><a href="project.html">Project</a></li>
                     <li><a href="business.html">Business</a></li>
                     <li><a href="financial.html">Financial</a></li>
            </ul>
            <div class="socials px-3">
                  <a href="#"><i class="bi bi-facebook text-dark"></i></a>
                  <a href="#"><i class="bi bi-twitter text-dark "></i></a>
                  <a href="#"><i class="bi bi-github text-dark "></i></a>
                  <a href="#"><i class="bi bi-instagram  text-dark"></i></a>
            </div>
      </div>
    
  <!-- Financial NEEDs  -->

   <div class="financial"  id="navbar">
     <img style="opacity: .9;" src="images/pic8.jpg" class="image " >
     <div class="financial-text"  >
       <i class="bi bi-arrow-left px-4 h1 btn-left"></i>
       <h4>WE MEET YOUR FINANCIAL INVESTMENT NEEDS</h4>
       <i class="bi bi-arrow-right px-4 h1 btn-right"></i>
     </div>
   </div>


<!--        Focus section -->

  <div class="container py-3" >
    <h2 class="text-center pt-4"  data-aos="fade-right" >OUR FOCUS IS OUR CLIENT'S SUCCESS</h2>

    <div class="w-70 row mx-auto text-center gap-20 p-4 focus">

      <div class="col-sm-6 col-md-4 col-lg-3 pt-3 pb-3" data-aos="fade-right" >
        <div class="icon pt-2"><i class="bi bi-currency-rupee text-light bg-dark"></i></div>
        <h6 class="pt-2">PRIVATE BANKING</h6>
        <P class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptas vel neque ex optio quia officia ratione, ipsum earum saepe.</P>
        <button class="btn btn-default btn-outline-dark pt-2">Read More</button>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 pt-3 pb-3"  data-aos="fade-right" >
        <div class="icon pt-2"><i class="bi bi-coin  text-light "></i></div>
        <h6 class="pt-2">MONETARY POLICY</h6>
        <P class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptas vel neque ex optio quia officia ratione, ipsum earum saepe.</P>
        <button class="btn btn-default btn-outline-secondary pt-2">Read More</button>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 pt-3 pb-3"  data-aos="fade-right" >
        <div class="icon pt-2"><i class="bi bi-currency-bitcoin text-light bg-dark "></i></div>
        <h6 class="pt-2">ISLAMIC BANKING</h6>
        <P class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptas vel neque ex optio quia officia ratione, ipsum earum saepe.</P>
        <button class="btn btn-default btn-outline-dark pt-2">Read More</button>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 pt-3 pb-3"  data-aos="fade-right" >
        <div class="icon pt-2"><i class="bi bi-currency-rupee text-light"></i></div>
        <h6 class="pt-2">BUSINESS MARKETING</h6>
        <P class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptas vel neque ex optio quia officia ratione, ipsum earum saepe.</P>
        <button class="btn btn-default btn-outline-dark pt-2">Read More</button>
      </div>

     
      
    </div>
  </div>

<!-- INVESMENT SECTION -->

<div class="container-fluid investment pt-5">
  <div class="container">
    <h2 class="text-center py-2"  >ADVICE ON HOW TO MAKE WISE INVESTMENTS</h2>
    <p class="text-center py-2" data-aos="fade-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus illo, eaque soluta odit eum voluptate. Optio asperiores blanditiis laborum quibusdam? Eum voluptas ipsam qui aliquam? Lorem ipsum, dolor sit amet consectetur adipisicing.</p>

    <div class="row pt-3 pb-4 text-center investment-grid">
      <div class="col-sm-6  col-md-6 col-lg-4"  data-aos="fade-right" >
        <div class="card div-card p-2 my-3">
            <div class="card-image">
              <img class="img-responsive" src="images/pic7.jpg" alt="">
            </div>
            <div class="card-body">
              <div class="card-title">
                <h3>AUT Preferential</h3>
              </div>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae culpa laborum, eos ea odit optio neque placeat.</p>
              <i class="bi bi-currency-rupee"></i>
            </div>
          
        </div>
      </div>
      <div class="col-sm-6  col-md-6 col-lg-4" data-aos="fade-right" >
        <div class="card div-card p-2 my-3">
          <div class="card-image">
            <img class="img-responsive" src="images/pic6.jpg" alt="">
          </div>
          <div class="card-body">
            <div class="card-title">
              <h3>Asset Policy</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae unde sit perferendis tempore, iusto dolo.</p>
            <i class="bi bi-currency-rupee"></i>
          </div>
        
      </div>
      </div>
      <div class="col-sm-6  col-md-6 col-lg-4"  data-aos="fade-right" >
        <div class="card div-card p-2 my-3">
          <div class="card-image">
            <img class="img-responsive" src="images/pic9.jpg" alt="">
          </div>
          <div class="card-body">
            <div class="card-title">
              <h3>Personal Investment</h3>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, sapien Lorem ipsum dolor sit. Lorem, ipsum dolor. </p>
            <i class="bi bi-currency-rupee"></i>
          </div>
        
      </div>
      </div>
    </div>
  </div>
</div>



 <!-- FRESH INVESTMENT AND SAVING MONEY -->


<div class=" row saving-container">
  <div class="col-sm-6 py-3 save" style="background-color: rgb(250, 85, 29,.9);"data-aos="fade-right" >
    <div class="py-3 px-5 text-light">
      <h2 class=" py-3">FRESH INVESTMENT SOLUTION</h2>
      <p class=""><i class="bi bi-currency-rupee"></i>Lorem ipsum dolor sit aLorem ipsu</p>
      <p class=""><i class="bi bi-currency-rupee"></i>Lorem ipsum dolor sit aLorem ip</p>
      <p class=""><i class="bi bi-currency-rupee"></i>Lorem ipsum dolor sit aLorem ips</p>
      <p class=""><i class="bi bi-currency-rupee"></i>Lorem ipsum dolor sit aLorem ips</p>
      <p class=" pb-3"><i class="bi bi-currency-rupee"></i>Lorem ipsum dolor sit aLorem</p>
      <button class="btn btn-default btn-outline-light ">Learn More</button>
    </div>
  </div>
  <div class="col-sm-6 bg-dark bg-opacity-80 py-3 save" data-aos="fade-right">
    <div class="  py-3 px-5 text-light ">
      <h2 class="  py-3">LEARNING TO SAVE MONEY</h2>
      <p class="  "><i class="bi bi-currency-rupee"></i>Lorem ipsum dolor sit aLorem ipsu</p>
      <p class=""><i class="bi bi-currency-rupee"></i>Lorem ipsum dolor sit aLorem ipsu</p>
      <p class=""><i class="bi bi-currency-rupee"></i>Lorem ipsum dolor sit aLorem ipsu</p>
      <p class=""><i class="bi bi-currency-rupee"></i>Lorem ipsum dolor sit aLorem ips</p>
      <p class=" pb-3"><i class="bi bi-currency-rupee"></i>Lorem ipsum dolor sit aLoro</p>
      <button class="btn btn-default btn-outline-light text-center  mt-2">Learn More</button>
    </div>
  </div>
  
</div>


                   <!-- LOGO section -->
    <div class="container-fluid py-4 logo " data-aos="fade-right">
       <h1 class="text-center py-4">OUR CLIENTS</h1>
       <div class="container mx-auto text-sm-center">
          <img src="images/logo2.jpg" class="img-responsive p-4">
          <img src="images/logo3.jpg" class="img-responsive p-4" >
          <img src="images/logo4.jpg"  class="img-responsive p-4">
          <img src="images/logo5.jpg"  class="img-responsive p-4">
          <img src="images/logo6.jpg" class="img-responsive p-4">
          <img src="images/logo7.jpg" class="img-responsive p-4">
          <img src="images/logo8.jpg" class="img-responsive p-4">
       </div>
       
       

    </div>




                  <!-- CONTACT SECTION -->


  <div class="container-fluid mt-3 contact py-3 text-light" data-aos="fade-right">
    <h1 class="text-center py-3">CONTACT US</h1>
     <form action="/contact" method="POST" class="container py-4 row form-group mx-auto">
        <div class="col-md-5 p-2">
          <input class="form-control my-2 text-light my-input" type="text" style="background-color: transparent;" placeholder="Name" name="name" required>
          <input class="form-control my-2 text-light my-input" type="email" name="email" style="background-color: transparent;" placeholder="Email" required>
          <input class="form-control my-2 text-light my-input" type="number" style="background-color: transparent;" placeholder="Phone-NO" name="phone" required>
        </div>
        <div class="col-md-7 p-2">
          <textarea class="form-control text-light text-opacity-50"  cols="30" rows="5" style="background-color: transparent;" name="message" ></textarea>
          <button type="submit" class="btn btn-default border mt-4">SEND</button>
        </div>
     </form>
  </div>










       <!-- Footer -->
    <div class="container-fluid  bg-dark py-5 footer">
       <div class=" container  " style="margin: 0 auto; display: flex;justify-content: space-between; align-items: center;flex-wrap: wrap; gap: 20px;">
           <div class=" p-3">
             <h1 class="pt-3 text-light pb-2">HABER </h1>

             <div class="footer-social">
              <a href="www.http://github.com/ytoyin67" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="www.http://github.com/ytoyin67" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="www.http://github.com/ytoyin67" target="_blank"><i class="bi bi-github"></i></a>
              <a href="www.http://github.com/ytoyin67" target="_blank"><i class="bi bi-instagram"></i></a>
           </div>
           </div>
           <div id="map" class=" p-2  " style="width: 500px; height: 250px; position: relative; z-index: 1;"></div>
       </div>
    </div> 


 <div class="container-fluid py-3
  bg-dark">
    <div class="container text-center bg-dark  py-3" style="color: rgb(250, 85, 29);">Developed By : <h4 class="text-white">YTOYIN-MEDIA &copy; 2023</h4> </div>
 </div>




     <!-- NAVIGATE TO TOP -->
     <a href="#" class="navigate  h1">
        <i class="bi bi-arrow-up-circle-fill "></i>
     </a>
     
 <!-- AOS CDN JS -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>

       AOS.init();

  </script>

  <!-- map cdn -->
  
  <script type="text/javascript">
    window.onload = function() {


      L.mapquest.key =   "WiataKZbLYP9KUWhfiLqreOvStlniBRa" 
      
      // 'ck2OXUAJsF0iz999XGQ62jyXo8AXOVp7' ;

      var map = L.mapquest.map('map', {
        center: [37.7749, -122.4194],
        layers: L.mapquest.tileLayer('map'),
        zoom: 12
      });

      map.addControl(L.mapquest.control());
    }
  </script>
  <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
  <!-- script js file -->
  <script src="script.js"></script>
</body>
</html>